body {
  padding: 0;
  margin: 0;
  max-height: 100%;
  font-family: sans-serif;
}

.buttons {
  width: 75%;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#start-upload {
  width: 75%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #990033;
}

#start-upload:hover {
  background-color: #FF9966;
}

#hidden {
  display: none;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #F8F8F8;
}

h2 {
  text-align: center;
  color: #99FFFF;
  text-transform: uppercase;
}

a {
  display: block;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #CC6666;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #FF9966;
  color: gold;
}

ul {
  list-style: none;
}

li {
  font-size: 20px;
  color: #CCFFCC;
  text-transform: uppercase;
}

span {
  color: gold;
}

em {
  color: gold;
}

#main {
  padding: 0;
  float: left;
  height: 100%;
  background-color: #e23f32;
  width: 30%;
}

#drop {
  width: 75%;
  height: 300px;
  background-color: tomato;
  margin-top: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#drop p {
  color: white;
  text-align: center;
  line-height: 300px;
  text-transform: uppercase;
}

#progress {
  float: left;
  width: 70%;
  height: 100%;
  background-color: tomato;
}

#fileList {
  padding-bottom: 100px;
}
